/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
.encabezado {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para los productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.producto {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(47% - 40px) /* Ocupa el 50% del ancho en pantallas grandes */
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h2 {
    font-size: 18px;
    color: #333;
}

.producto p {
    font-size: 14px;
    color: #777;
}

.precio {
    font-size: 16px;
    color: #e74c3c;
    display: block;
    margin-top: 10px;
}

.comprar {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}
